@using Microsoft.AspNetCore.Components.Web
@{
    var requestPath=Context.Request.Path;
}

<div class="col-4">
    <ul class="list-group">
        <UserSidebarItem requested-path="@requestPath" Area="User" Controller="Account" Action="UserProfile" >پروفایل</UserSidebarItem>
        <UserSidebarItem requested-path="@requestPath" Area="User" Controller="Account" Action="ChangePassword">تغییر رمز عبور</UserSidebarItem>
        <UserSidebarItem requested-path="@requestPath" Area="User" Controller="Account" Action="Messages">پیامها</UserSidebarItem>
        <UserSidebarItem requested-path="@requestPath" Controller="Account" Action="Logout">خروج</UserSidebarItem>
    </ul>
</div>