<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - فان چت</title>
    <partial name="_SiteStyles" />
</head>
<body>
    @await Component.InvokeAsync("SiteHeader")
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 1402 - FunChat.WebApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    <partial name="_SiteScripts" />
    <partial name="_SiteMessages" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
